<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<form th:action="@{/form}" method="post">
		<div>
			<label for="username">Usuario</label>
			<div>												<!--para que siga manteniendose el valor-->
				<input type="text" name="username" id="username"  th:value="${usuario.username}">
			</div>
			<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
		</div>
		<div>
			<label for="password">Contraseña</label>
			<div>
				<input type="password" name="password" id="password">
			</div>
			<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" name="email" id="email" th:value="${usuario.email}">
			</div>
			<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>

	</form>
</body>
</html>