<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<form th:action="@{/form}" method="post" th:object="${user}">
		<div>
			<label for="name">Nombre</label>
			<div>
				<input type="text" name="name" id="name"  th:field="*{nombre}">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>
		<div>
			<label for="app">Apellido</label>
			<div>
				<input type="text" name="app" id="app"  th:field="*{apellido}">
			</div>
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
		</div>
		<div>
			<label for="username">Usuario</label>
			<div>												<!--para que siga manteniendose el valor-->
				<!--<input type="text" name="username" id="username"  th:value="${user.username}">-->
				<input type="text" name="username" id="username"  th:field="*{username}"> <!--esto es para mapear a la clase pojo-->
			</div>
			<!--<div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>-->
			<!--si tiene errores con thymeleaf-->
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">Contraseña</label>
			<div>
				<input type="password" name="password" id="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" name="email" id="email" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>

	</form>
</body>
</html>